{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="background-color: lightgrey;">
  <div class="container-fluid text-center">
    <h2 style="padding-top: 20px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">News Letter Section<sup
        style="font-family:sans-serif;"><button type="button" class="btn btn-success btn-sm p-0" data-toggle="modal"
          data-target="#myModal">Add Your News <i class="fa fa-plus"></i></button></sup></h2>
    <form class="form-inline justify-content-center my-lg-0" action="{% url 'news_search_result' %}" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" name="search_news" style="border: 1px black solid;" type="search" placeholder="Search News" aria-label="Search">
      <button class="btn btn-outline-info my-sm-0" type="submit">Search</button>
    </form>
    <hr>
    <button class="btn btn-danger btn-lg" style="font-weight: 600;">{{news_letter.title}}</button>
    <br>
    <button class="btn btn-success py-0 my-1" style="font-weight: 600;">{{news_letter.start_date}} To
      {{news_letter.end_date}}</button>
    <div class="row">
      <div class="col-sm-3">
        <nav class="navbar">
          <ul class="navbar-nav">
            {% for x in news_letter_list %}
            <li class="nav-item">
              <a class="nav-link text-primary" style="font-weight: 600;" href="{% url 'news_view' x.id %}"><span
                  class="badge badge-info">{{forloop.counter}}.</span> {{x.title}} ({{x.start_date}} to
                {{x.end_date}})</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-sm-9">
        <div class="row">
          {% for news in news_list %}
          <div class="col-lg-4 col-md-6 my-2">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-dark">{{news.headline}}</h4>
                <p class="card-text">{{news.description| slice:":20"}}..</p>
                <a href="{% url 'news_details' news.id %}" class="card-link">Read More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-primary">Add a News</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="{% url 'news_view' current_news_letter.id %}" method="POST" style="font-weight: bold;">
          {% csrf_token %}
          {{forms}}
          <h6 class="pt-3">NB: After Submitting, Your News Will Be Approved By Admin.</h6>
          <input type="submit" value="Submit" class="btn btn-success mt-2">
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}