{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="background-color: lightgray;">
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 p-3">
            <div class="media p-3">
                <img src="{{post.author.image.url}}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body" style="color: black;font-weight: 600;">
                    <h5 style="color: brown;font-weight: 700;"><a style="text-decoration: none;" href="{% url 'search_result_details' post.author.id %}">{{post.author}}</a><small style="color: rgb(126, 54, 54);"><i>
                                Posted on
                                {{post.created_on.date}}</i></small></h5>
                    <p style="font-size: large;padding-left: 25px;">{{post.body}}</p>
                    {% if post.image %}
                    <div style="height: 250px;width: 250px; margin: 20px;">
                        <img id="myImg" src="{{post.image.url}}" alt="image" style="width: 100%;
                    height: 100%;
                    object-fit: cover;">
                    </div>
                    {% endif %}
                    {% if post.files %}
                    <a href="{{post.files.url}}" download>{{post.files}}</a>
                    {% endif %}
                    <h5><span class="badge badge-pill badge-secondary">{{post.tag}}</span>
                    </h5>
                    {% if post.author == request.user.alumni %}
                    <button type="button" class="btn btn-dark btn-sm" data-toggle="collapse" data-target="#update_post">Edit</button>
                    <form action="{% url 'delete_post' post.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    {% endif %}
                    <div id="update_post" class="collapse">
                        <form class="p-2" action="{% url 'post_details' post.id %}" method="POST">
                            {% csrf_token %}
                            {{update_post}}
                            <input  type="submit" class="btn btn-success mt-1" value="Done">
                        </form>
                    </div> 
                    </div>
                </div>
                <div class="comments p-2">
                    <div style="text-align: center;">
                        <h5 class="bg-dark text-light p-2">Comments <span
                            class="badge badge-light">{{post.comment_set.all.count}}</span></h5></div>
                    
                                <!-- Modal body -->
                                {% if post.comment_set.all %}
                                {% for comment in post.comment_set.all %}
                                <div class="media p-3" style="border-bottom: lightgrey 1px solid;">
                                    <img src="{{comment.author.image.url}}" class="mr-2 mt-2 rounded-circle" style="width:40px;">
                                    <div class="media-body" style="font-weight: 600;">
                                        <h5 style="font-weight: 700;"><a style="text-decoration: none;" href="{% url 'search_result_details' comment.author.id %}">{{comment.author}}</a><small><i>  Commented on
                                                 {{comment.created_on.date}}</i></small></h5>
                                        <p style="padding-left: 25px;">{{comment.body}}</p>
                                        <button class="badge badge-success"><a href="#comment_reply" onclick="reply_comment('{{comment.author}}')" class="text-light" style="text-decoration: none;">reply</a></button>
                                        {% if request.user.alumni == comment.author %}
                                        <button href="#" data-toggle="modal" data-target="#myModal{{comment.id}}" class="badge badge-secondary">Edit</button>
                                        {% endif %}
                                        {% if request.user.alumni == post.author or request.user.alumni == comment.author %}
                                        <form action="{% url 'delete_comment' comment.id %}" method="POST" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="badge badge-danger">Delete</button>
                                        </form>
                                        {% endif %}

                                        <div class="modal" id="myModal{{comment.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content bg-secondary">
                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" style="color: black;">Edit Your Post</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                            
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <form action="{% url 'edit_comment' comment.id %}" method="POST">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <textarea class="form-control" rows="2" id="comment"
                                                                    name="comment">{{comment.body}}</textarea>
                                                            </div>
                                                            <button type="submit" class="btn btn-dark">Edit</button>
                                                        </form>
                                                    </div>
                            
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <h5 class="container">No Comments Here</h5>
                                {% endif %}
                                <script>
                                    function reply_comment(name){
                                        var a = document.getElementById('comment_reply')
                                        a.value = '@'+name+' ';
                                    }
                                </script>
                                    <form action="{% url 'add_comment' post.id  %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{cmt_form.body}}
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                    
                </div>
                </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}