{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid" id="social_media" style="background: url('/static/images/social1.jpg') no-repeat center fixed; 
background-size: cover;min-height: 70vh;margin: 0;">
    <div class="container" style="padding-top: 30px;text-align: center;">
      <h1 class="typewriter" style="color: whitesmoke;text-align: center;font-size:50px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-shadow: 2px 2px 4px #000000;">Welcome To The Social Media Section</h1> 
      <br>
      <h1 style="text-align: center;color:white;font-weight: 700;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-shadow: 2px 2px 4px rgb(19, 18, 18);">To communicate with each other, To share necessary stuff</h1>   
      <a href="{% url 'social_media_view' %}"><button class="welcome_button">Get Started Now</button></a>
    </div>
</div>
<div class="over_view" style="background-color: ghostwhite;">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-7 my_fade">
                <h3 style="color: black;font-weight: 700;">Social Media Section</h3>
                <hr>
                <p style="font-size: larger;color: lightslategray;font-weight: 600;">It is used To communicate with each other, To share necessary stuff.One can write a post of some specific topics.</p>
                <a href="{% url 'social_media_view' %}"><button class="welcome_button1">Get Started Now</button></a>
            </div>
            <div class="col-sm-5 my_fade" id="topic_list">
                <p><i class="fa fa-hand-o-right"></i> Job Circular</p>
                <p><i class="fa fa-hand-o-right"></i> Educational Blog</p>
                <p><i class="fa fa-hand-o-right"></i> Higher Study Opportunities</p>
                <p><i class="fa fa-hand-o-right"></i> Publications</p>
                <p><i class="fa fa-hand-o-right"></i> Achievements</p>
                
            </div>
          </div>
      </div>
    </div>
    <div class="info" style="background-color: #000000;">
        <div class="container">
          <div class="row p-5">
            <div class="col my_fade" style="text-align: center;" >
                <i class="fa fa-keyboard-o" style="font-size:36px;color: brown;"></i>
              <h3>156</h3>
              <h4>Posts</h4>
            </div>
            <div class="col my_fade" style="text-align: center;">
                <i class="fa fa-money" style="font-size:36px;color: brown;"></i>
                <h3>85</h3>
                <h4>Job Circular</h4>
              </div>
            <div class="col my_fade" style="text-align: center;">
              <i class="fa fa-pencil-square" style="font-size:36px;color: brown;"></i>
              <h3>33</h3>
              <h4>Educational Blog</h4>
            </div>
            <div class="col my_fade" style="text-align: center;">
                <i class="fa fa-plane" style="font-size:36px;color: brown;"></i>
                <h3>35</h3>
                <h4>Higher Study Opportunities</h4>
              </div>
            <div class="col my_fade" style="text-align: center;">
              <i class="fa fa-book" style="font-size:36px;color: brown;"></i>
              <h3>45</h3>
              <h4>Publications</h4>
            </div>
              <div class="col my_fade" style="text-align: center;" >
                <i class="fa fa-briefcase" style="font-size:36px;color: brown;"></i>
              <h3>27</h3>
              <h4>Achievements</h4>
            </div>
          </div>
        </div>
      </div>
{% endblock %}