/* Profile Update */
.update_profile_form{
    background-color: lightgray;
    padding: 20px;
}
.update_profile_form h2{
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.update_profile_form label{
    font-weight: 500;
}
.update_profile_form input:hover,#about_me:hover,#show_case:hover{
    background-color: whitesmoke;
}


/*search view */

.search_view .title{
    padding: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* animation: title infinite; */
    animation-duration: 1s;
    animation-delay: .5s;
}
@keyframes title{
    0%   {color:blue;}
  100% {color: black;}
  }
  .search_view label{
      font-weight: 500;
      font-size: large;
  }
  .search_view select{
      font-weight: 500;
  }
/*social media welcome */
  .welcome_button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:green;
    border: none;
    border-radius: 10px;
    box-shadow: 7px 7px 5px black;
  }
  
  .welcome_button:hover {background-color: #3e8e41}


  #topic_list i{
    font-size:28px;
    color: red;
  }
  #topic_list p{
      color: green;
      font-size: larger;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
  }

  .welcome_button1 {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(34, 34, 175);
    border: none;
    border-radius: 10px;
    box-shadow: 7px 7px 5px black;
  }
  
  .welcome_button1:hover {background-color: blue}

  .info h3,h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    padding-top:5px ;
  }

  /* social media view */
  #social_media_filter label{
    font-weight: 500;
    font-size: large;
}
#social_media_filter select{
    font-weight: 500;
}

.social_media_view{
    background-color: lightslategray;
    padding: 20px;
}

.social_media_view .title{
        padding: 10px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.write_post .title{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}

